
@font-face {
    font-family: 'Ticketing';
    src: url('./fonts/Ticketing.eot');
    src: url('./fonts/Ticketing.eot') format('embedded-opentype'),
        url('./fonts/Ticketing.woff2') format('woff2'),
        url('./fonts/Ticketing.woff') format('woff'),
        url('./fonts/Ticketing.ttf') format('truetype'),
        url('./fonts/Ticketing.svg') format('svg');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

body {
    background-image: url('athena.jpeg'); /* Source: PEXEL */
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center; 
    display: inline-block;
    font-family: Ticketing;
    
}

.heroSection{
    display: flex;
    /* margin: auto; */
    justify-content: center;
    margin-top: 20%;
}
.mainTitle1{
    font-size: 4em;
    color: #fa9800;
}
.mainTitle2{
    font-size: 4em;
    
}

.slogan{
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    margin: auto;
    margin-top: -5%;
    color: #ffdf98;
    font-size: 24px;
}
.arrow{
    font-size: 80px;
    /* font-weight: bold; */
    color: #a1c96a;
    display: flex;
    /* position: absolute; */
    flex-direction: row;
    justify-content: center;
    align-content: center;
    /* align-items: center; */
    margin: auto;
    
}
.fir{
    margin-top: 25%;
    animation: colorChange 5s infinite;

    animation-delay: 1s;
}
.sec{
    margin-top: 3%;
    animation: colorChange 5s infinite;

    animation-delay: 2s;
}
.thi{
    margin-top: 3%;
    animation: colorChange 5s infinite;

    animation-delay: 3s;
}
.fou{
    margin-top: 3%;
    animation: colorChange 5s infinite;

    animation-delay: 4s;
}
.fif{
    margin-top: 3%;
    animation: colorChange 5s infinite;

    animation-delay: 5s;
}

@keyframes colorChange{
    0%{color:#ce4a39;}
    50%{color:#a1c96a;}
    100%{color:#a1c96a;}
}





.your-style {
    font-family: 'Ticketing';
    font-weight: normal;
    font-style: normal;
}



 .txContainer {
    margin: auto;
    margin-top: 30%;
    background-color: #000;
    opacity: 0.9;
    color: #fff;
    padding: 40px;
    width: 50%;
    
    
} 

footer{
    height:20vh;
    width: 99vw;
    display: flex;
    justify-content: center;
    margin-top: 20%;
    background-color: rgb(12, 33, 58);

}
a{
    font-size: 50px;
    display: flex;
    color: yellowgreen;
    text-decoration: none;
    /* margin: auto; */
    margin-top: 5%;
    justify-content: center;
}

main {
    /* width: 100vw; */
    margin: 0 auto;
    /* display: flex; */
    justify-content: center;
    align-items: center;
  }


.umbrellaLogo{
    width: 200px;
    display: flex;
}

.top-20 {
    margin-top: 20px;
}

h5 {
    color: #999999;
    font-family: ticketing;
}

section {
    margin-bottom: 50px;
}

.field {
    font-weight: bold;
    text-align: right;
}

.field-value {
    color: #0e7fa8;
}

label.form {
    font-size: 14px;
    margin-right: 20px;
}
input{
    width: 30%;
    padding: 5px 10px;
    margin: 10px 0;
    font-family: Ticketing;
    background-color: rgb(23, 24, 23);
    border-radius: 5px;
    box-sizing: border-box;
    color: #fff;
    box-shadow: none;
    border-color:none;
    outline: none;
  }
  input:focus {
    border: 3px solid rgb(206, 86, 86);
  }

  button{
    cursor: pointer;
    /* background-color: #9185a5; */
    background-color: #fbb691;
    border: none;
    color: rgb(13, 13, 14);
    border-radius: 5px;
    font-size: 16px;
    padding: 10px 30px;
    text-decoration: none;
    margin: 4px 2px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
    font-weight: bold;
    font-family: Ticketing;
  }
  button:hover{
    box-shadow: 0px 0px 10px 2px rgba(43, 42, 42, 0.856);
    transform: scale(1.05);
    transition: all 0.3s ease-in-out;
  }




/************** CARDS **************/

:root {
    --card-height: 50vw;
    --card-margin: 6vw;
    --card-top-offset: 2em;
    --numcards: 5;
    --outline-width: 0px;
  }
  
  #cards {
    padding-bottom: calc(var(--numcards) * var(--card-top-offset)); /* Make place at bottom, as items will slide to that position*/
    margin-bottom: var(--card-margin); /* Don't include the --card-margin in padding, as that will affect the scroll-timeline*/
    margin-top: 20%;
    
  }
  
  #card_1 {
    --index: 1;
  }
  
  #card_2 {
    --index: 2;
  }
  
  #card_3 {
    --index: 3;
  }
  
  #card_4 {
    --index: 4;
  }
  #card_5{
    --index: 5;
  }
  
  .card {
    background-color: #f3f3f300;
    position: sticky;
    top: 0;
    padding-top: calc(var(--index) * var(--card-top-offset));
  }
  
  @supports (animation-timeline: works) {
  
    @scroll-timeline cards-element-scrolls-in-body {
      source: selector(body);
      scroll-offsets:
        /* Start when the start edge touches the top of the scrollport */
        selector(#cards) start 1,
        /* End when the start edge touches the start of the scrollport */
        selector(#cards) start 0
      ;
      start: selector(#cards) start 1; /* Start when the start edge touches the top of the scrollport */
      end: selector(#cards) start 0; /* End when the start edge touches the start of the scrollport */
      time-range: 4s;
    }
  
    .card {
      --index0: calc(var(--index) - 1); /* 0-based index */
      --reverse-index: calc(var(--numcards) - var(--index0)); /* reverse index */
      --reverse-index0: calc(var(--reverse-index) - 1); /* 0-based reverse index */
    }
    
    .card__content {
      transform-origin: 50% 0%;
      will-change: transform;
  
      --duration: calc(var(--reverse-index0) * 1s);
      --delay: calc(var(--index0) * 1s);
  
      animation: var(--duration) linear scale var(--delay) forwards;
      animation-timeline: cards-element-scrolls-in-body;
    }
  
    @keyframes scale {
      to {
        transform:
          scale(calc(
            1.1
            -
            calc(0.1 * var(--reverse-index))
          ));
      }
    }
  }

  #cards {
    list-style: none;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(var(--numcards), var(--card-height));
    gap: var(--card-margin);
  }
  
  .card {
    /* border-radius: 20px; */
    border-color: rgba(0, 255, 255, 0);
    width: 95vw;
  }

  .first{
    /* background: #fddca9; */
    background: #2A9C9D;
  }
  /* .first.shade1{
    background: #c2a882;
    
  } */
  .second{
    /* background: #fbb691; */
    background: #A1C96A;
    height: 90vh;
  }
  /* .second.shade2{
    background: #b68469;
  } */
  .third{
    /* background: #e2b8d5; */
    background: #FFB24C;
    height: 90vh;
  }
  /* .third.shade3{
    background: #a7879d;
  } */
  .fourth{
    /* background: #a4d9d0; */
    background: #FFDF98;
    height: 90vh;
    
    
  }
  .fifth{
    background: #AE515C;
    height: 90vh;
  }
  /* .fourth.shade4{
    background: #729791;
  } */
  .card__content {
    box-shadow: 0 0.2em 1em rgba(0, 0, 0, 0.1), 0 1em 2em rgba(0, 0, 0, 0.1);
    color: rgb(10, 5, 7);
    border-radius: 1em;
    border: 2px solid black;
    overflow:visible;
  
    display: grid;
    grid-template-areas: "text img";
    grid-template-columns: 1fr 0.1fr;
    grid-template-rows: 100%; 
    align-items: center;
  }
  
  .card__content > div {
    grid-area: text;
    width: 90%;
    height: 100%;
    place-self: center;
    text-align: center;
    font-size: 1.4vw;
    display: flex-start;
    
    place-items: start;
    /* padding: 5px; */
    /* height: 500px; */
  }

  
  .card__content > figure {
    grid-area: img;
    overflow: hidden;
    height: 500px;

  } 
  
  .card__content > figure > img {
    width: 10%;
    height: 10%; 
    top: 40px;
    object-fit: contain;
  }


 
  

  /* ********** BUTTONS ************ */


  
  